.appBox{
  font-size: 22px;
  max-height: 100vh;
  .childrenBox{
    height: calc(100vh - 120px);
    position: relative;
  }
}
.bottomNavBox{
  border: 1px solid #eeeeee;
  width: 100%;
  background: #ffffff;
}
// .bottomGrid{
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   justify-items: center;
// }